*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3faf82;
}

.menu{
    aspect-ratio: 1/1;
    width: 12vw;
    display: flex;
    flex-direction: column;
    gap: 12%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span{
    height: 10%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 9px #0000004f);
}

/* Reverse */

.line3{
    animation: buttomRev  700ms ease-in-out backwards;
}

@keyframes buttomRev{
    0%{
        transform: translateY(-225%) rotate(135deg);
    }

    50%{
        transform: translateY(-225%);
    }

    100%{
        transform: translateY(0%);
    }
}

.line2{
    animation: CenterRev 700ms ease-in-out forwards;
}

@keyframes CenterRev{
    0%,50%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

.line1{
    animation: topRev 700ms ease-in-out forwards;
}

@keyframes topRev{
    0%{
        transform: translateY(225%) rotate(45deg);
    }

    50%{
        transform: translateY(225%);
    }

    100%{
        transform: translateY(0%);
    }
}

/* Reverse */

.top{
    animation: top 700ms ease-in-out forwards;
}

@keyframes top{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: translateY(225%);
    }

    100%{
        transform: translateY(225%) rotate(45deg);
    }
}

.centro{
    animation: centro 700ms ease-in-out forwards;
}

@keyframes centro{
    0%{
        scale: 1;
    }

    50%,100%{
        scale: 0;
    }
}

.buttom{
    animation: button 700ms ease-in-out forwards;
}

@keyframes button{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-225%);
    }

    100%{
        transform: translateY(-224%) rotate(135deg);
    }
}